[Desktop Entry]
Encoding=UTF-8
Name=Länk till Download Drivers
Type=Link
URL=http://support.amd.com/en-us/download
Icon=text-html
Name[sv]=First-Time-Setup-Step-3-ATI-DownloadAndInstallGPUDrivers
