[Desktop Entry]
Encoding=UTF-8
Name=Länk till Home - ethpool.org - The Ethereum Mining Pool
Type=Link
URL=http://ethpool.org/
Icon=text-html
Name[sv]=Link to Ethpool.org - The Ethereum Mining Pool
