[Desktop Entry]
Encoding=UTF-8
Name=Länk till Afterburner | MSI Gaming Series
Type=Link
URL=http://gaming.msi.com/ru/features/afterburner
Icon=text-html
Name[sv]=Link to MSI Afterburner GPU Metrics Monitor download page
